<% provide(:title, 'About') %>
<% provide(:h1_title, "About") %>
<% provide(:footer_title, "about") %>

<p>
Assumenda accusamus commodo, next level master cleanse ea skateboard american apparel single-origin coffee photo booth pour-over. Organic dreamcatcher placeat, ex cray tempor wolf echo park keytar umami. Twee delectus freegan vice laboris ullamco. Sapiente cillum scenester, 8-bit mcsweeney's twee post-ironic +1 excepteur put a bird on it proident. Squid williamsburg chambray brooklyn. Mustache in aesthetic, marfa viral nihil mumblecore quis messenger bag portland. Iphone aliquip raw denim, excepteur food truck kogi umami occupy.
</p>

