<% provide(:title, 'Contact') %>
<% provide(:h1_title, "Contact") %>
<% provide(:footer_title, "contact") %>

<p>
Hamburger mollit ham flank, deserunt tri-tip sunt excepteur. Cillum laborum short ribs cow andouille, venison fatback ham officia duis strip steak sunt. Turducken ribeye ullamco, biltong bresaola ground round pariatur pork leberkas ham. Sed ut ut capicola elit id, prosciutto adipisicing labore drumstick. Magna corned beef ham in. Shoulder excepteur ut kielbasa pariatur pastrami. Consectetur commodo nulla capicola culpa biltong sausage, consequat tempor incididunt tri-tip.


</p>
