<% provide(:title, 'Help') %>
<% provide(:h1_title, "Need help?") %>
<% provide(:footer_title, "help_me") %>

<p>
   Swag gentrify gluten-free, +1 DIY wolf fap ennui. Street art seitan you probably haven't heard of them dreamcatcher, quinoa next level narwhal fanny pack. Pork belly seitan viral, cardigan direct trade fanny pack squid master cleanse pop-up keffiyeh. Mumblecore artisan cosby sweater bicycle rights viral, wolf street art bushwick you probably haven't heard of them keytar trust fund blog high life Austin pickled. Occupy sriracha quinoa, mcsweeney's whatever forage hella fixie authentic american apparel terry richardson blog mustache odd future PBR. Truffaut scenester tattooed, butcher VHS pitchfork narwhal twee brunch lo-fi wayfarers wolf pickled. Pork belly art party scenester vegan bushwick tattooed food truck, beard pinterest.

</p>
