<% provide(:title, '') %>
<% provide(:h1_title, "My Tools Collection") %>
<% provide(:footer_title, "my_tools_collection") %>



<p>
Pot ipsizzle that's the shizzle sizzle amizzle, crunk ass shiznit. I'm in the shizzle sapien velit, shit volutpizzle, suscipizzle daahng dawg, cool vizzle, its fo rizzle. Pellentesque eget tortizzle. Sizzle erizzle. Fusce izzle dolizzle get down get down fo shizzle tellivizzle uhuh ... yih!. Maurizzle pellentesque da bomb shit turpis. Break it down izzle tortor. Pellentesque eleifend crunk the bizzle. In shizzlin dizzle habitasse platea dictumst. Its fo rizzle dapibus. Curabitizzle tellizzle urna, fo shizzle dawg, mattizzle sheezy, shizzlin dizzle vitae, nunc. Shizzlin dizzle izzle. Integer shiznit shit sed break yo neck, yall.
<p>

<div class="button_center">
   <%= link_to "Sign up!", signup_path, class: "button1 center" %>
</div>

</p>
Praesent nizzle turpis ut leo bibendum molestie. Vivamus vestibulum tortor vizzle massa. Quisque malesuada ornare dawg. Morbi cool, nisl nec bibendum fo shizzle, magna dolor vestibulizzle ligula, ac mofo black things quis augue. Maecenas check it out elizzle fizzle bling bling its fo rizzle brizzle sagittizzle. Fo shizzle things pede ut lacizzle. In rhoncus nonummy fo. Fo shizzle ipsizzle dolizzle yo cool, consectetizzle adipiscing gangster. Fo shizzle izzle pimpin', posuere dawg amizzle, facilisis sed, fo mattis, libero. Gangsta sempizzle faucibus crazy. Ut break yo neck, yall stuff. Check it out fo shizzle mah nizzle fo rizzle, mah home g-dizzle funky fresh a crazy you son of a bizzle crazy. Shut the shizzle up crackalackin metus ghetto nunc. Aenean sodalizzle, ass black varius ma nizzle, fo shizzle cool fizzle felis, nec fo shizzle boofron nisl bizzle check it out. Sheezy crunk quam, crunk sizzle amizzle, owned yippiyo, pulvinar pulvinizzle, check it out.
</p>


