<% provide(:title, 'Sign up') %>
<% provide(:h1_title, "Sign up") %>
<% provide(:footer_title, "sign_up_please") %>


<%= render 'shared/error_messages', :target => @user %>

<div class="form center" id="sign_up_form">

   <%= form_for(@user) do |f| %>
   
      <%= render 'fields', f: f %>

      <%= f.submit "Create my account", class: "button1 sign_up_button" %>

   <% end %>

</div>


