/********************************
     VARIABLES, COLORS 
********************************/

$htmlBackground: black;
$titleBackgrund: #444;
$colorBasic: green;
$colorHighlight: GreenYellow;
$colorError: DarkOrange;
$textShadowTitle: #222;
$buttonBackground: #999;
$buttonBorder: #777;
$buttonBorderHover: #333;
$buttonShadowActive: GreenYellow;
$basicFontColor: HoneyDew;

/********************************
     GENERAL 
********************************/

html {
   overflow-y: scroll;
   background-color: $htmlBackground;
}

body {
   padding-top: 60px;
   color: $basicFontColor;
}

.center {
   text-align: center;
}

h1 {
   margin-bottom: 10px;
   background: $titleBackgrund;
   padding: 15px 15px 20px 15px;
   border-top: 1px dotted $colorHighlight;
}

a {
   color: $colorBasic;
   text-decoration: none;
   
   &:visited {
      color: $colorHighlight;
   }
}

div#wrapper {
   margin: 0px auto;
   width: 1200px;
}

div.container {
   clear: both;
   margin: 30px 15px;
 
}

/********************************
     TYPOGRAPHIE 
********************************/

body {
   font-family: 'Abel', sans-serif;
   font-size: 15px;
   letter-spacing: 0.6px;
}

h1, #logo {
   font-family: 'Press Start 2P', cursive;
   color: $colorBasic;
}

#terminal, div.alert {
   font-family: 'Lekton', sans-serif;
   letter-spacing: 1px;
}


/********************************
     HEADER & NAVIGATION 
********************************/

header#head_nav_wrap {

}

div#head_nav {
}

div#head {
   margin-left: 15px;
   float: left;
}

#logo {
   text-decoration: none;

   &:hover {
      color: $colorHighlight;
   }
}

nav#nav {
   float: right;
}

ul#nav_list_top {

   li {

   }
}

ul.nav_list {
   list-style-type:none;
   margin:0;
   padding:0;

   li {
      display: inline;
      margin-right: 15px;
      padding: 0 5px;

      &:hover {
         background-color: gray;
      }
   }
}

h1.title {
   clear: both;
   text-shadow: 1px 1px 2px $textShadowTitle;
   filter: dropshadow(color=$textShadowTitle, offx=1, offy=1);
        
}

/********************************
    BUTTONS 
********************************/

div.button_center {
   width: 100px;
   margin: 0 auto;
}

.button1 {
   /* Found in /home */

   background-color: $buttonBackground;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
   border: 2px solid $buttonBorder;
   padding: 7px 15px;
   text-decoration: none;
   color: $colorHighlight;
   text-align: center;
   margin: 15px 0;

   &:active {
      -webkit-box-shadow: 4px 4px 8px $buttonShadowActive;
      box-shadow: 4px 4px 8px $buttonShadowActive;
      color: $colorHighlight;
   }
   &:hover {
      border-color: $buttonBorderHover;  
      color: $colorHighlight;
   }
   &:visited {
      color: $colorHighlight;
      font-weight: normal;
   }
}

.sign_up_button {
   width: 200px;
}

.sign_in_button {
   width: 100px;
}



/********************************
     FOOTER 
********************************/
#footer_wrapper {
   margin-bottom: 30px;
}

#footer {
   clear: both;
   border-bottom: 1px dotted $colorHighlight;
   background-color: $titleBackgrund;
   width: 100%;
   height: 30px;
}

div#small_footer {
   padding: 0 15px;
   margin: 0;
   font-size: 0.9em;
   color: $colorBasic;
   float: left;
   width: 300px;
}

ul#nav_list_bottom {
   float: right;
   padding-top: 0;
   margin-top: 0;
   li {
      font-size: 0.9em;
   }
}

#terminal {
   color: $colorBasic;
   font-size: 0.8em;
   padding: 3px 15px;
}   

span#cursor {
   width: 5px;
   height: 5px;
   background: $htmlBackground;
   border: 1px solid $htmlBackground;
}

/********************************
    MISCELLANEOUS 
********************************/

.debug_dumb {
   clear: both;
   width: 100%;
   margin-top: 85px;
}


/********************************
    USER PAGE 
********************************/

div#user_left {
   float: left;
   width: 300px;
   padding-right: 5px;
}

.gravatar {
   float: left;
   width: 40px;
}

p#user_name {
   float: left;
   font-size: 1em;
   font-family: 'Press Start 2P', cursive;
   color: $colorBasic;
   margin-left: 5px;
}

div#user_right {
   float: left;
   width: 830px;
   p {
      border-left: 1px dotted $colorHighlight;
      padding: 15px;
   }
}


/********************************
    SIGNUP FORMS
********************************/

div.form {
}

input, textarea {
   color: $colorHighlight;
   font-size: 1.2em;
   background: $titleBackgrund;
   padding: 5px;
   font-family: 'Lekton', sans-serif;
   width: 250px;
}

label {
   color: $colorBasic;
   font-size: 1.2em;
   margin-top: 10px;
}


/********************************
     FLASH MESSAGES
********************************/

div.alert {
   background: $titleBackgrund;
   font-size: 1.2em;
   padding: 15px;
}

div#flash_messages {
   width: 1200px;
   margin-top: -15px;
}

div.form_message {
   width: 550px;
   margin: 0 auto 20px auto;
}

div.alert-error {
   color: $colorError;
}

div.alert-success {
   color: $colorBasic;
}

div.alert-notice {
   color: $colorHighlight;
}

div.error_messages {
   color: $colorError;
   ul {
      list-style: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
   }
}

/********************************   
      
********************************/














