<footer id="footer">
   <p id="small_footer">by Daniela Grossmann, San Francisco, 2012<p>
   <nav>
      <ul id="nav_list_bottom" class="nav_list">
         <li><%= link_to "About",      about_path   %></li>
         <li><%= link_to "Contact",    contact_path   %></li>
      </ul>   
   </nav>
</footer>
