<header id="head_nav_wrap">
   <div id="head_nav">
      <div id="head">
         <%= link_to "Dani's Tools", '#', id: "logo" %>
   </div>
      <nav id="nav">
         <ul id="nav_list_top" class="nav_list">
            <li><%= link_to "Home",       root_path %></li>
            <li><%= link_to "Help",       help_path %></li>
            <li><%= link_to "Sign in",    "#" %></li>
         </ul>
      </nav>
   </div>
</header>

